**/.DS_Storefigs/speed_constraints.aux
figs/speed_constraints.log
figs/speed_constraints.pdf
figs/speed_constraints.synctex.gz
figs/speed_constraints.aux
application/cache

*.pdf

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.bcf
*.xml